<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Master Study</title>

    <link rel="stylesheet" href="dist/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <div id="root">

        <!-- HEADER -->
        <header>

            <!-- Header - Top Nav -->
            <div class="container">

                <div class="header-top-nav">

                    <!-- site language -->
                    <div class="site-language">

                        <div>English</div>
                        
                        <div>
                            <i class="fas fa-chevron-down"></i>
                        </div>

                    </div>
                    <!-- end site language -->


                    <!-- Top Nav Menu -->
                    <div class="top-nav-menu">                        

                        <!-- Menu list -->
                        <ul class="menu-list">
                            <li v-for="element in topMenu">
                                <a href="">{{element}}</a>
                            </li>                            
                        </ul>                        
                        <!-- end Menu list -->
                        
                        <!-- Social Media List -->
                        <ul class="social-media-list">

                            <li v-for="social in socialList">
                                <a href=""><i :class="'fab fa' + social.name"></i></a>
                            </li>
                            

                        </ul>
                        <!-- end Social Media List -->

                    </div>
                    <!-- end Top Nav Menu -->
                    
                </div>

            </div>
            <!-- end Header - Top Nav -->



            <!-- Header - middle Nav  -->
            <div class="header-middle-nav">

                <div class="container">
                    <!-- Logo -->
                    <div class="master-logo">
                        <img src="img/MasterStudy.svg" alt="Master Study Logo">
                    </div>
                    <!-- end Logo -->

                    <!-- Search input -->
                    <div class="search-courses-input">
                        <label for="search-courses"><i class="fas fa-bars"></i>category</label>
                        <input id="search-courses" type="text" placeholder="Search courses">
                        <div class="search-symbol"><i class="fas fa-search"></i></div>
                    </div>
                    <!-- end Search input -->

                    <!-- Affiliates -->
                    <div class="affiliates">

                        <div><i class="fas fa-bullhorn"></i> Become an Instructor</div>
                        <div><i class="fas fa-briefcase"></i> For Enterprise</div>

                    </div>
                    <!-- end Affiliates -->

                    <!-- Sign up -->
                    <div class="sign-up">
                        <div class="user">
                            <i class="far fa-user"></i>
                            <a href="">Log in</a> 
                        </div>
                        <button class="btn">Sign up</button>
                        <a href=""><i class="far fa-bookmark"></i></a>
                    </div>
                    <!-- end Sign up -->

                </div>

            </div>
            <!-- end Header - middle Nav  -->



            <!-- Header - bottom Nav  -->
            <div class="header-bottom-nav">
                
                <ul class="centred-menu">
                    <li>
                        <i class="fas fa-chart-line"></i>
                        <a href="">Business</a>
                    </li>
                    <li>
                        <i class="fas fa-palette"></i>
                        <a href="">Design</a>
                    </li>
                    <li>
                        <i class="fas fa-cog"></i>
                        <a href="">Development</a> 
                    </li>
                    <li>
                        <i class="far fa-smile"></i>
                        <a href="">Lifestyle</a>
                    </li>
                    <li>
                        <i class="fas fa-mail-bulk"></i>
                        <a href="">Office Productivity</a>
                    </li>
                </ul> 
                

            </div>
            <!--end  Header - bottom Nav  -->

        </header>     
        <!-- end HEADER -->


        <!-- MAIN -->
        <main>            

            <!-- Jumbotron section -->
            <section class="jumbotron-section">

                <!-- Jumbo title -->
                <div class="jumbo-title">
                    <div>
                        <h1>Udemy Affiliate Sales</h1>
                        <p>Monetize your audience and attract new customers with Udemy!</p>
                    </div>
                </div>
                <!-- end Jumbo title -->

                <!-- Jumbo img -->
                <div class="jumbo-img">
                    <img src="img/slide-1.jpg" alt="slide">
                </div>
                <!-- end Jumbo img -->

            </section>            
            <!-- end Jumbotron section -->


            <!-- Popular Development Courses section -->
            <section class="popular-development-courses-section">

                <!-- Container -->
                <div class="container">
                    <h4>Popular Development Courses</h4>

                    <!-- Courses offer -->
                    <ul class="courses-offer">
                        <!-- Single course -->
                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                <h6>The Complete IOS 10& Swift 3 Developer Course</h6>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course -->

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>                       


                    </ul>
                    <!-- end Courses offer -->

                </div>
                <!-- end Container -->

            </section>
            <!-- end Popular Development Courses section -->


            <!-- Banner section -->
            <section>

                <div class="banner">

                    <!-- Small container -->
                    <div class="small-container">

                        <!-- Text content -->
                        <div class="text-content">
                            <h2>Limitless learning, more possibilities</h2>
                            <p>Online couses open the opportunity for learning to almost anyone, regardless of their scheduling commitments.</p>
                            <button class="btn">Read more</button>
                        </div>
                        <!-- end Text content -->

                    </div>
                    <!-- end Small container -->

                </div>

            </section>
            <!-- end Banner section -->


            <!-- Recent Courses section -->

            <section class="recent-courses-section">

                <!-- Recent courses title and menu -->
                <div class="recent-courses centred">
                    
                    <h2>Recent courses</h2>

                    <ul class="centred-menu">
                        <li><a  class="active" href="">All Categories</a></li>
                        <li><a href="">Business</a></li>
                        <li><a href="">Design</a></li> 
                        <li><a href="">Development</a></li>
                        <li><a href="">IT & Software</a></li>
                        <li><a href="">Lifestyle</a></li>
                        <li><a href="">Marketing</a></li> 
                        <li><a href="">Office Productivity</a></li>
                    </ul>
                </div>
                <!-- end Recent courses title and menu -->


                <!-- Container -->
                <div class="container">

                    <!-- Courses offer -->
                    <ul class="courses-offer">
                        <!-- Single course -->
                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                <h6>The Complete IOS 10& Swift 3 Developer Course</h6>

                                <div class="course-info">

                                    <div class="stars"><img src="img/starfull.svg" alt="stars"></div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course -->

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>                       

                        <!-- Single course -->
                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                <h6>The Complete IOS 10& Swift 3 Developer Course</h6>

                                <div class="course-info">

                                    <div class="stars"><img src="img/starfull.svg" alt="stars"></div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course -->

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                    </ul>
                    <!-- end Courses offer -->

                </div>
                <!-- end Container -->

                <!-- Button -->
                <div class="centred">
                    <button class="btn">Show all</button>
                </div>
                <!-- end Button -->
            </section>

            <!-- end Recent Courses section -->



            <!-- Subscribe section -->
            <section class="subscribe-section">

                <div class="small-container">
                    <!-- Subscribe text -->
                    <div class="subscribe-text">
                        <h4>Subscribe our newsletter</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomised words</p>
                    </div>
                    <!-- end Subscribe text -->

                    <!-- Subscribe enter email -->
                    <div class="subscribe-enter-email">

                        <!-- label container -->
                        <div class="label-container">
                            <label for="enter-email">your e-mail address</label>
                        </div>
                        <!-- end label container -->

                        <!-- Input container -->
                        <div class="input-container">
                            <input id="enter-email" type="text" placeholder="Enter your E-mail">
                            <div class="subscribe-btn">Subscribe</div>
                        </div>                     
                        <!-- end Input container -->
                        
                    </div>
                    <!-- end Subscribe enter email -->

                </div>

            </section>

            <!-- end Subscribe section -->

            
            <!-- Popular Courses (with slider) section -->

            <section class="popular-courses-section">

                <!-- Popular courses title -->
                <div class="centred">
                    <h2>Popular courses</h2>
                    <p>Discover our most popular courses for self learning</p>
                </div>
                <!-- end Popular courses title -->

                <!-- container -->
                <div class="container">

                    <!-- Courses offer -->
                    <ul class="courses-offer">

                        <!-- Single course -->
                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                <h6>The Complete IOS 10& Swift 3 Developer Course</h6>

                                <div class="course-info">

                                    <div class="stars"><img src="img/starfull.svg" alt="stars"></div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course -->

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="">
                        </li>

                    </ul>
                    <!-- end Courses offer -->
                    
                </div>
                <!-- end container -->

                <div class="slider-arrow">

                    <div class="arrow-bg"><i class="fas fa-angle-left"></i></div>
                    <div class="arrow-bg"><i class="fas fa-angle-right"></i></div>

                </div>

            </section>
            <!-- end Popular Courses (with slider) section -->


            <!-- Join us section -->
            <section class="join-us-section">

                <!-- Container -->
                <div class="container">

                    <!-- join us single box -->
                    <div class="join-us-box">

                        <div class="box-img">
                            <img src="img/image_box_1-221x231.png" alt="image box">
                        </div>

                        <div class="box-text">
                            <h2>Become an Instructor</h2>
                            <p>Teach what you love. Masterstudy gives you the tools to create a course</p>
                            <button class="btn">Start teaching</button>

                        </div>

                    </div>
                    <!-- end join us single box -->

                    <!-- join us single box -->
                    <div class="join-us-box access">

                        <div class="box-img">
                            <img src="img/image_box_1-221x231.png" alt="image box">
                        </div>

                        <div class="box-text">
                            <h2>Become an Instructor</h2>
                            <p>Teach what you love. Masterstudy gives you the tools to create a course</p>
                            <button class="btn">Start teaching</button>

                        </div>

                    </div>
                    <!-- end join us single box -->


                </div>
                <!-- end container -->

            </section>
            <!-- end Join us section -->

            

            <!-- Testimonial section -->
            <section>

                <div class="testimonial">

                    <div class="small-container">

                        <!-- Testimonial text -->
                        <div class="testimonial-text">
                            <h2>Investing for Your Future</h2>

                            <p>It is no exaggeration to say this MasterStudy experience was transformative-both professionally and personally. 
                                This workshop will long remain a hight
                                point of my life. Thanks again... I am feeling energized and eager to start teaching my class next week.
                                I can't wait to use all of my new teaching tools. I will absolutely reccomend this workshop to other educators!
                            </p>

                            <div>Linda Green</div>
                            <small>Product Manager, Apple Inc</small>

                            <div class="arrow-speech"></div>
                        </div>
                        <!-- end Testimonial text -->

                    </div>

                </div>

            </section>
            <!-- end Testimonial section -->



        </main>  

        <!-- end MAIN -->

        <!-- FOOTER -->

        <footer>

            <!-- Upper footer -->
            <div class="upper-footer">

                <div class="small-container">

                    <div class="about-us">
                        <h5>About</h5>
                        <p>Sed nec felis pellentesque, lacinia dui sed, ultrcies sapien. 
                            Pellentesque orci lectus, consecteur vel, returm eu ipsum.
                            Marius accumsan eros eget libero posuere vulputate </p>
                    </div>

                    <div class="contact-us">
                        <h5>Contact</h5>
                        <p>USA, California 20, First Avenue, California</p>
                        <p>Tel.: +1 212 458 300 32 <br>
                            Fax.: +1 212 375 24 14</p>
                        

                        <a href="">info@masterstudy.com</a>

                    </div>

                    <div class="social-network">
                        <h5>Social Network</h5>
                        <div>
                            <a href="">
                                <i></i>
                            </a>
                        </div>
                    </div>

                    <div class="discount-udemy">
                        <img src="img/Top-udemy-courses-90-percent-off.jpg" alt="udemy courses 80 percent off">
                    </div>

                </div>

            </div>

            <!-- end Upper footer -->



            <!-- Lower footer -->
            <div class="lower-footer">

                <div class="small-container">
                    <div class="footer-logo">
                        <img src="img/footer-logo2x-50x56.png" alt="small logo">
                    </div>

                    <div class="copyright">
                        <div>Copyright <span><i class="far fa-copyright"></i></span> 2020. 
                            <a href="">MasterStudy</a> Theme by <a href="">StylemixThemes</a>
                        </div>
                    </div>

                </div>

            </div>
            <!-- end Lower footer -->

        </footer>            

        <!-- end FOOTER -->

        <!-- Fixed element -->

        <div class="fixed-element">

            <a href=""><i class="fas fa-desktop"></i></a>
            <a href=""><i class="far fa-life-ring"></i></a>
            <a href=""><i class="fas fa-wrench"></i></a>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
            <a href=""><i class="fas fa-mobile-alt"></i></a>

        </div>

        <!-- end Fixed element -->


    </div>
    


  


    <!-- link Javascript -->
    <script src="dist/app.js"></script>
    <!-- end link Javascript -->
</body>
</html>