<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto:wght@300&display=swap" rel="stylesheet">

    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="img/favicon.ico">
    <title>Master Study</title>

    <link rel="stylesheet" href="dist/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!-- ROOT -->
    <div id="root">

        <!-- HEADER -->
        <header>

            <!-- Header - Top Nav -->
            <div class="container">

                <div class="header-top-nav">

                    <!-- site language -->
                    <div class="site-language">

                        <div>English</div>

                        <div>
                            <i class="fas fa-chevron-down"></i>
                        </div>

                    </div>
                    <!-- end site language -->


                    <!-- Top Nav Menu -->
                    <div class="top-nav-menu">

                        <!-- Menu list -->
                        <ul class="menu-list">
                            <li v-for="element in topMenu">
                                <a href="">{{element}}</a>
                            </li>
                        </ul>
                        <!-- end Menu list -->

                        <!-- Social Media List -->
                        <ul class="social-media-list">

                            <li v-for="social in socialList">
                                <a href=""><i :class="'fab fa' + social.name"></i></a>
                            </li>


                        </ul>
                        <!-- end Social Media List -->

                    </div>
                    <!-- end Top Nav Menu -->

                </div>

            </div>
            <!-- end Header - Top Nav -->



            <!-- Header - middle Nav  -->
            <div class="header-middle-nav">

                <div class="container">
                    <!-- Logo -->
                    <div class="master-logo">
                        <img src="img/MasterStudy.svg" alt="Master Study Logo">
                    </div>
                    <!-- end Logo -->

                    <!-- Search input -->
                    <div class="search-courses-input">
                        <label for="search-courses"><i class="fas fa-bars"></i>category</label>
                        <input id="search-courses" type="text" placeholder="Search courses">
                        <div class="search-symbol"><i class="fas fa-search"></i></div>
                    </div>
                    <!-- end Search input -->

                    <!-- Affiliates -->
                    <div class="affiliates">

                        <div><i class="fas fa-bullhorn"></i> Become an Instructor</div>
                        <div><i class="fas fa-briefcase"></i> For Enterprise</div>

                    </div>
                    <!-- end Affiliates -->

                    <!-- Sign up -->
                    <div class="sign-up">
                        <div class="user">
                            <i class="far fa-user"></i>
                            <a href="">Log in</a>
                        </div>
                        <button class="btn-crimson transform">Sign up</button>
                        <a href=""><i class="far fa-bookmark"></i></a>
                    </div>
                    <!-- end Sign up -->

                </div>

            </div>
            <!-- end Header - middle Nav  -->



            <!-- Header - bottom Nav  -->
            <div class="header-bottom-nav">

                <ul class="centred-menu">
                    <li>
                        <i class="fas fa-chart-line"></i>
                        <a href="">Business</a>
                    </li>
                    <li>
                        <i class="fas fa-palette"></i>
                        <a href="">Design</a>
                    </li>
                    <li>
                        <i class="fas fa-cog"></i>
                        <a href="">Development</a>
                    </li>
                    <li>
                        <i class="far fa-smile"></i>
                        <a href="">Lifestyle</a>
                    </li>
                    <li>
                        <i class="fas fa-mail-bulk"></i>
                        <a href="">Office Productivity</a>
                    </li>
                </ul>


            </div>
            <!--end  Header - bottom Nav  -->

        </header>
        <!-- end HEADER -->


        <!-- MAIN -->
        <main>

            <!-- Jumbotron section -->
            <section class="jumbotron-section">  

                <!-- Jumbo title -->
                <div class="jumbo-title">
                    <div>
                        <h1>Udemy Affiliate Sales</h1>
                        <p>Monetize your audience and attract new customers with Udemy!</p>
                    </div>
                </div>
                <!-- end Jumbo title -->                

            </section>
            <!-- end Jumbotron section -->


            <!-- Popular Development Courses section -->
            <section class="popular-courses padding-tb">

                <!-- Container -->
                <div class="container">
                    <h4>Popular Development Courses</h4>

                    <!-- Courses offer -->
                    <ul class="courses-offer">

                        <!-- Single course in Popular Development Courses section -->
                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="IOS10">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">The Complete IOS 10& Swift 3 Developer Course</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Development Courses section -->

                        <!-- Single course in Popular Development Courses section -->
                        <li>
                            <img src="img/246154_d8b0_3-272x161.jpg" alt="CSS">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Web Design for Beginners: Real World Coding in HTML & CSS</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 129.99</div>
                                        <div>$ 65</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Development Courses section -->

                        <!-- Single course in Popular Development Courses section -->
                        <li>
                            <img src="img/752950_b773-272x161.jpg" alt="GitHub">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">GitHub Ultimate: Master Git and GitHub - Beginner to Expert</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>

                                    <div class="cost">
                                        <div class="discount">$ 99.99</div>
                                        <div>$ 50</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Development Courses section -->


                        <!-- Single course in Popular Development Courses section -->
                        <li>
                            <img src="img/1253188_58f7_2-272x161.jpg" alt="IOS11">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">The Complete IOS 11& Swift Developer Course - Build 20</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Development Courses section -->


                        <!-- Single course in Popular Development Courses section -->
                        <li>
                            <img src="img/919872_ed54_6-272x161.jpg" alt="Android Java">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Android Java Masterclass - Become an App Developer</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 99.99</div>
                                        <div>$ 50</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Development Courses section -->


                        <!-- Single course in Popular Development Courses section -->
                        <li>
                            <img src="img/951684_9c1a_2-272x161.jpg" alt="Xamarin">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Xamarin Forms: Build Native Cross-platform App with C#</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 189.99</div>
                                        <div>$ 95</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Development Courses section -->
                    </ul>
                    <!-- end Courses offer -->

                </div>
                <!-- end Container -->

            </section>
            <!-- end Popular Development Courses section -->


            <!-- Banner section -->
            <section>

                <div class="banner">

                    <!-- Small container -->
                    <div class="small-container">

                        <!-- Text content -->
                        <div class="text-content">
                            <h2>Limitless learning, more possibilities</h2>
                            <p>Online couses open the opportunity for learning to almost anyone, regardless of their scheduling commitments.</p>
                            <button class="btn-crimson change-color">Read more</button>
                        </div>
                        <!-- end Text content -->

                    </div>
                    <!-- end Small container -->

                </div>

            </section>
            <!-- end Banner section -->


            <!-- Recent Courses section -->

            <section class="recent-courses-section padding-tb">

                <!-- Recent courses title and menu -->
                <div class="recent-courses centred">

                    <h2>Recent courses</h2>

                    <ul class="centred-menu">
                        <li><a  class="active" href="">All Categories</a></li>
                        <li><a href="">Business</a></li>
                        <li><a href="">Design</a></li>
                        <li><a href="">Development</a></li>
                        <li><a href="">IT & Software</a></li>
                        <li><a href="">Lifestyle</a></li>
                        <li><a href="">Marketing</a></li>
                        <li><a href="">Office Productivity</a></li>
                    </ul>
                </div>
                <!-- end Recent courses title and menu -->


                <!-- Container -->
                <div class="container">

                    <!-- Courses offer -->
                    <ul class="courses-offer">

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="IOS10">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">The Complete IOS 10& Swift 3 Developer Course</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/1561458_7f3b-272x161.jpg" alt="CSS">

                            <div class="course-description">
                                <a href="">Design <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">CSS - The Complete Guide 2020(incl. Flexbox, Grid & Sass)</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">                                        
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/246154_d8b0_3-272x161.jpg" alt="HTML & CSS">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>                               

                                <div class="course-title">
                                    <a href="">Web Design for Beginners: Real World Coding in HTML & CSS</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 129.99</div>
                                        <div>$ 65</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/1208228_d61c_4-272x161.jpg" alt="Digitally Painting">

                            <div class="course-description">
                                <a href="">Design <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Digitally Painting Light and Color: Amateur to Master</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 139.99</div>
                                        <div>$ 70</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/186792_41e4_4-272x161.jpg" alt="Arabic Calligraphy">

                            <div class="course-description">
                                <a href="">Arts & Crafts <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Become an Arabic Calligraphy Artist From Scratch</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">                                        
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/1776542_30b1-272x161.jpg" alt="Google searching Ninja">

                            <div class="course-description">
                                <a href="">Google <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Google Searching Ninja!</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 89.99</div>
                                        <div>$ 45</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!------------------------------------------------ end first courser row ----------------------------------------------->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/949316_2a64_11-272x161.jpg" alt="Watercolor">

                            <div class="course-description">
                                <a href="">Arts & Craft <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Foundations for Mastering Watercolor Painting</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 19.99</div>
                                        <div>$ 10</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/366802_6fcc-272x161.jpg" alt="Wine">

                            <div class="course-description">
                                <a href="">Food & Beverage <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Get Wine-Smart</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 49.99</div>
                                        <div>$ 25</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/381588_2e6d_4-272x161.jpg" alt="Pencil drawing">

                            <div class="course-description">
                                <a href="">Arts & Craft <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">The Colored Pencil Drawing Course</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 34.99</div>
                                        <div>$ 18</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/838056_611a_3-272x161.jpg" alt="Watercolor">

                            <div class="course-description">
                                <a href="">Arts & Craft <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Paint Realistic Watercolor and Botanicals - STUDIO BASIC</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 69.99</div>
                                        <div>$ 35</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/1414956_d944_15-272x161.jpg" alt="Brushstrokes">

                            <div class="course-description">
                                <a href="">Arts & Craft <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Mastering Brushstrokes - Part 1</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 19.99</div>
                                        <div>$ 10</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                        <!-- Single course in Recent Courses section -->
                        <li>
                            <img src="img/1109398_4c13-272x161.jpg" alt="Magnolias">

                            <div class="course-description">
                                <a href="">Arts & Craft <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Paint Realistic Watercolor and Botanicals - MAGNOLIAS</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 69.99</div>
                                        <div>$ 35</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Recent Courses section -->

                    </ul>
                    <!-- end Courses offer -->

                </div>
                <!-- end Container -->

                <!-- Button -->
                <div class="centred">
                    <button class="btn-crimson change-color">Show all</button>
                </div>
                <!-- end Button -->
            </section>

            <!-- end Recent Courses section -->



            <!-- Subscribe section -->
            <section class="subscribe-section">

                <div class="small-container">
                    <!-- Subscribe text -->
                    <div class="subscribe-text">
                        <h5>Subscribe our newsletter</h5>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomised words</p>
                    </div>
                    <!-- end Subscribe text -->

                    <!-- Subscribe enter email -->
                    <div class="subscribe-enter-email">

                        <!-- label container -->
                        <div class="label-container">
                            <label for="enter-email">your e-mail address</label>
                        </div>
                        <!-- end label container -->

                        <!-- Input container -->
                        <div class="input-container">
                            <input id="enter-email" type="text" placeholder="Enter your E-mail">
                            <a href="" class="subscribe-btn">Subscribe</a>
                        </div>
                        <!-- end Input container -->

                    </div>
                    <!-- end Subscribe enter email -->

                </div>

            </section>

            <!-- end Subscribe section -->


            <!-- Popular Courses (with slider) section -->

            <section class="popular-courses-section padding-tb">

                <!-- Popular courses title -->
                <div class="centred">
                    <h2>Popular courses</h2>
                    <p>Discover our most popular courses for self learning</p>
                </div>
                <!-- end Popular courses title -->

                <!-- container -->
                <div class="container">

                    <!-- Courses offer -->
                    <ul class="courses-offer">

                        <!-- Single course in Popular Courses section -->
                        <li>
                            <img src="img/895786_7b4b_2-272x161.jpg" alt="IOS10">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">The Complete IOS 10& Swift 3 Developer Course</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Courses section -->

                        <!-- Single course in Popular Courses section -->
                        <li>
                            <img src="img/1561458_7f3b-272x161.jpg" alt="CSS">

                            <div class="course-description">
                                <a href="">Design <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">CSS - The Complete Guide 2020(incl. Flexbox, Grid & Sass)</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">                                        
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 199.99</div>
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Courses section -->

                        <!-- Single course in Popular Development Courses section -->
                        <li>
                            <img src="img/246154_d8b0_3-272x161.jpg" alt="HTML & CSS">

                            <div class="course-description">
                                <a href="">Development <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Web Design for Beginners: Real World Coding in HTML & CSS</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 129.99</div>
                                        <div>$ 65</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Development Courses section -->

                        <!-- Single course in Popular Courses section -->
                        <li>
                            <img src="img/1208228_d61c_4-272x161.jpg" alt="Digitally Painting">

                            <div class="course-description">
                                <a href="">Design <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Digitally Painting Light and Color: Amateur to Master</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 139.99</div>
                                        <div>$ 70</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Courses section -->

                        <!-- Single course in Popular Courses section -->
                        <li>
                            <img src="img/186792_41e4_4-272x161.jpg" alt="Arabic Calligraphy">

                            <div class="course-description">
                                <a href="">Arts & Crafts <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Become an Arabic Calligraphy Artist From Scratch</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">                                        
                                        <div>$ 100</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Courses section -->

                        <!-- Single course in Popular Courses section -->
                        <li>
                            <img src="img/1776542_30b1-272x161.jpg" alt="Google searching Ninja">

                            <div class="course-description">
                                <a href="">Google <span><i class="fas fa-angle-right"></i></span></a>
                                
                                <div class="course-title">
                                    <a href="">Google Searching Ninja!</a>
                                </div>

                                <div class="course-info">

                                    <div class="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/starfull.svg" alt="stars">
                                        <img src="img/staremptyl.svg" alt="stars">
                                    </div>
                                    <div class="cost">
                                        <div class="discount">$ 89.99</div>
                                        <div>$ 45</div>
                                    </div>
                                </div>

                            </div>
                        </li>
                        <!-- end Single course in Popular Courses section -->

                        

                    </ul>
                    <!-- end Courses offer -->

                </div>
                <!-- end container -->

                <div class="slider-arrow padding-tb">

                    <div class="arrow-scroll"><i class="fas fa-angle-left"></i></div>
                    <div class="arrow-scroll"><i class="fas fa-angle-right"></i></div>

                </div>

            </section>
            <!-- end Popular Courses (with slider) section -->


            <!-- Join us section -->
            <section class="join-us-section padding-tb">

                <!-- Container -->
                <div class="container">

                    <!-- join us single box -->
                    <div class="join-us-box">

                        <div class="box-img">
                            <img src="img/image_box_1-221x231.png" alt="image box">
                        </div>

                        <div class="box-text">
                            <h2>Become an Instructor</h2>
                            <p>Teach what you love. Masterstudy gives you the tools to create a course</p>
                            <button class="btn-crimson change-color">Start teaching</button>

                        </div>

                    </div>
                    <!-- end join us single box -->

                    <!-- join us single box -->
                    <div class="join-us-box access">

                        <div class="box-img">
                            <img src="img/image_box_2-234x231.png" alt="image box">
                        </div>

                        <div class="box-text">
                            <h2>Access For Business</h2>
                            <p>Get unlimited access to 2.500 of top courses for your team.</p>
                            <button class="btn-crimson change-color">Doing Business</button>

                        </div>

                    </div>
                    <!-- end join us single box -->


                </div>
                <!-- end container -->

            </section>
            <!-- end Join us section -->



            <!-- Testimonial section -->
            <section>

                <div class="testimonial">

                    <div class="small-container">

                        <!-- Testimonial text -->
                        <div class="testimonial-text">
                            <h2>Investing for Your Future</h2>

                            <p>It is no exaggeration to say this MasterStudy experience was transformative-both professionally and personally.
                                This workshop will long remain a hight
                                point of my life. Thanks again... I am feeling energized and eager to start teaching my class next week.
                                I can't wait to use all of my new teaching tools. I will absolutely reccomend this workshop to other educators!
                            </p>

                            <div>Linda Green</div>
                            <small>Product Manager, Apple Inc</small>

                            <div class="arrow-speech"></div>
                        </div>
                        <!-- end Testimonial text -->

                    </div>

                </div>

            </section>
            <!-- end Testimonial section -->



        </main>

        <!-- end MAIN -->

        <!-- FOOTER -->

        <footer>

            <!-- Upper footer -->
            <div class="upper-footer">

                <div class="small-container">
                    <!-- About us -->
                    <div class="about-us">
                        <h5>About</h5>
                        <p>Sed nec felis pellentesque, lacinia dui sed, ultrcies sapien.
                            Pellentesque orci lectus, consecteur vel, returm eu ipsum.
                            Marius accumsan eros eget libero posuere vulputate </p>
                    </div>
                    <!-- end About us -->

                    <!-- Contact us -->
                    <div class="contact-us">
                        <h5>Contact</h5>
                        <p>USA, California 20, First Avenue, California</p>
                        <p>Tel.: +1 212 458 300 32 <br>
                            Fax.: +1 212 375 24 14</p>


                        <a href="">info@masterstudy.com</a>

                    </div>
                    <!-- end Contact us -->

                    <!-- Social network -->
                    <div class="social-network">
                        <h5>Social Network</h5>

                            <a v-for="social in socialListFoot" href="">
                                <i :class="social.name" :style="{'background-color': social.bg}"></i>
                            </a>  

                    </div>
                    <!-- end Social network -->

                    <!-- Discount -->
                    <div class="discount-udemy">
                        <img src="img/Top-udemy-courses-90-percent-off.jpg" alt="udemy courses 80 percent off">
                    </div>
                    <!-- end Discount -->

                </div>

            </div>

            <!-- end Upper footer -->



            <!-- Lower footer -->
            <div class="lower-footer">

                <div class="small-container">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <img src="img/footer-logo2x-50x56.png" alt="small logo">
                    </div>
                    <!-- end footer logo -->

                    <!-- copyright -->
                    <div class="copyright">
                        <div>Copyright <span><i class="far fa-copyright"></i></span> 2020.
                            <a href="">MasterStudy</a> Theme by <a href="">StylemixThemes</a>
                        </div>
                    </div>
                    <!-- end copyright -->
                </div>

            </div>
            <!-- end Lower footer -->

        </footer>

        <!-- end FOOTER -->

        <!-- Fixed element -->

        <div class="fixed-element">

            <a href=""><i class="fas fa-desktop"></i></a>
            <a href=""><i class="far fa-life-ring"></i></a>
            <a href=""><i class="fas fa-wrench"></i></a>
            <a href=""><i class="fas fa-shopping-cart"></i></a>
            <a href=""><i class="fas fa-mobile-alt"></i></a>

        </div>

        <!-- end Fixed element -->


    </div>
    <!-- end ROOT -->





    <!-- link Javascript -->
    <script src="dist/app.js"></script>
    <!-- end link Javascript -->
</body>
</html>