
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary_font_family;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;    
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn {
    background-color: $primary_color;
    border: 0;
    padding: 20px 30px;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: $small_text;
}
