
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $primary_font_family;
}

img {
    width: 100%;
}

.container {
    width: 90%;
    margin: auto;    
}

.small-container {
    width: 60%;
    margin: auto;
}

section {
    margin-bottom: $section_margin_bottom;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.centred {
    text-align: center;
}

.centred-menu {
    @include flex_jc;   

    li {
        @include flex_align_center;                
        padding: 20px 20px;

        a {
            color:$secondary_text_color;
            font-size: $main_text;
            padding-left: 10px;
        }
    };
}



.btn {
    background-color: $brand_primary_color;
    border: 0;
    padding: 15px 25px;
    border-radius: 30px;
    color: $text_colored_bg;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $small_text;   
}

.courses-offer {
    @include flex_jsb;
    padding: $standard_padding;
    
    li {
        width: calc(100% / 6 - 15px);
        background-color:  $text_colored_bg;
        border: 1px solid $border_color;

        .course-description {
            padding: 0 10px;

            a {
                font-size: $small_text;
                color: $secondary_text_color;
            }

            h6 {
                margin: 5px 0;
                color: $main_text_color;
                cursor: pointer;                
                font-weight: 100;
            }

            .course-info {
                @include flex_jsb_center;
                border-top: 1px solid $border_color;
                text-align: right;
                margin: 15px 0;

                .stars {
                    @include flex;
                }

                .cost {
                    div {
                        font-size: $small_text;
                        
                        &.discount {
                            color: $secondary_text_color;
                            text-decoration: line-through 2px;                           
                        }
                    }
                }
            }
        }

        
    }
}

::placeholder {
    @include placeholder;
}

::-webkit-input-placeholder {
    @include placeholder;
}

::-ms-input-placeholder {
    @include placeholder;
}

.arrow-bg {
    width: 30px;
    height: 30px;
    background-color: $text_colored_bg;
    border: 1px solid #e0e0e0;    
    line-height: 30px;
    text-align: center;
    color: #e0e0e0;
    cursor: pointer;

        &:hover {
            background-color: $i_menu_text;
            color: $text_colored_bg;
        }
}

.fixed-element {
    @include flex_col_sa_center;
    position: fixed;
    bottom: 50%;
    right:0;
    width: 50px;
    height: 190px;
    background-color: $text_colored_bg;
    box-shadow: -3px 2px 5px $border_color;

        a {
            color:$main_text_color;
        }
}
