// Jumbotron
.jumbotron-section {    
    background-image: url("../img/slide-1.jpg");    
    height: 280px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;

    .jumbo-title {
        position: absolute;
        left: 0;
        top: 0;
        width: 63%;
        height: 100%;        
        z-index: 1;
        background: linear-gradient(247deg, rgba(0,0,0,0) 20%, $brand_primary_color 20%);       

        div {
            width: 50%;
            margin: 60px auto;

            h1 {
                color: $text_colored_bg;
                font-size: 35px;
                margin-bottom: 20px;
            }
            p {
                color: $text_colored_bg;
            }
        }
    }
   
}

// Popular courses
.popular-courses {

    h4 {
        color: $brand_text_color;
    }
}

// Banner
.banner {
    background-image: url("../img/bg.png");
    background-size: cover;
    height: 400px;
    position: relative;

    .text-content {
        @include translateY;
        width: 28%;

        h2{
            @include primary_section_title
        }

        p {
            font-size: $main_text;
            font-weight: bold;
            color: $main_text_color;
            margin: 25px 0 40px 0;  
        }
    }
}

// Recent courses
.recent-courses-section {

    .recent-courses {    

        h2{
            @include primary_section_title;
        }
    
        .centred-menu {          

            li {
                padding: 30px 10px;              
        
                a {
                    color: $i_menu_text;
                    
                    &.active,
                    &:hover {
                        background-color: $brand_secondary_color;
                        padding: 5px;
                        border-radius: 15px;
                    }
                }
            }           
        }
    }

    .courses-offer {
        flex-wrap: wrap;

        li {
            margin-bottom: 30px;
        }
    }
}

// Subscribe section

.subscribe-section {
    background-color: $brand_primary_color;
    color: $text_colored_bg;
    padding: 20px 0 40px 0;

    .small-container {
        @include flex_jsb_center;

        .subscribe-text {
            width: 58%;

            h5 {
                font-weight: 600;
                padding-bottom: $padding_bottom_sub_section;
            }
            p {
                font-size: $small_text;
                font-family: $secondary_font_family;
            }

        }

        .subscribe-enter-email {
            width: 40%;            

            .label-container {
                padding-bottom: $padding_bottom_sub_section;

                label {
                    text-transform: uppercase;
                    font-size: $smaller_text; 
                    font-family: $secondary_font_family;                   
                }
            }

            .input-container {
                position: relative;
                input {
                    width: 100%;
                    height: 30px;
                    border: 0;            
                } 
                
                .subscribe-btn {
                    @include input_append;
                    font-size: 9px;
                    font-family: $secondary_font_family;
                    text-transform: uppercase;
                    padding: 0 15px;
                }
            }
        }
    }
}

// Popular courses section

.popular-courses-section {
    background-color: $brand_secondary_color;    

    .centred {
        margin-bottom: 20px;
        
        h2 {
            @include primary_section_title;
        }
        p {
            font-size: 14px;
            color: $main_text_color;
        }
    }

    .slider-arrow {
        @include flex_jc;      
    }
}

// Join us section

.join-us-section {
    .container {
        @include flex;

        .join-us-box {
            @include flex_align_center;
            width: 50%;
            border: 1px solid $border_color;
            padding: 50px 30px;

            .box-img {
                width: 30%;
                padding: 10px;
            }

            .box-text {
                width: 70%;
                padding: 25px;

                h2 {
                    color: $brand_text_color;
                }
                p {
                    margin: 25px 0 40px 0;
                    font-size: $main_text;
                    color: $main_text_color;
                }                
            }

            &.access {
                margin-left: 15px;
            }
        }
    }
}

// Testimonial section

.testimonial {
    background-image: url("../img/testimonial-1-1917x640-1-1914x639.jpg");
    height: 450px;
    background-size: cover;
    position: relative;

    .small-container {        

        .testimonial-text {
            @include translateY;
            width: 38%;
            background-color: $text_colored_bg;
            padding: 50px 60px;

            h2 {
                color: $brand_text_color;
            }
            p {
                margin: 25px 0 40px 0;
                font-size: $main_text;
                line-height: 26px;
                color: $main_text_color;
            }

            div{
                font-weight: 600;
                font-size: $main_text;
                font-family: $secondary_font_family;
            }

            small {
                font-size: $main_text;
                color: $main_text_color;
            }

            .arrow-speech {
                width: 0;
                height: 0;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-left: 15px solid $text_colored_bg;
                position: absolute;
                left: 100%;
                top: 48%;
            }

        }
    }
}
