.header-top-nav {    
    @include flex_jsb_center;
    padding: 10px 0;
    font-size: $small_text;
    color: $secondary_text_color;  
    font-family: $secondary_font_family; 
     

    .site-language {
        @include flex; 
        div {
            i {
                padding-left: 5px;
            }
        }
    }

    .top-nav-menu {
        @include flex;        
            
        .menu-list{             
            @include flex;

            li {
                padding-left: $standard_padding_left;
                
                a{
                    color: $secondary_text_color;
                }
            }
        }      

        .social-media-list {
            @include flex;
            padding-left: $standard_padding_left;
            
            li {
                padding-left: 10px;

                i{
                    color: #aaaaaa;
                    font-size: 12px;
                }
            }
        }
    }

}

.header-middle-nav {
    border-top: 1px solid #f0f2f5;
    padding: $standard_padding;    

    .container {
        @include flex_jsb_center;        
        color: $secondary_text_color;

        .master-logo {
            width: 200px;  
            img {
                vertical-align: middle;
            }          
        }

        .search-courses-input {
            position: relative;
            font-size: $small_text;
            label {
                text-transform: uppercase;
                padding-right: 10px;
                i {
                    font-size: 7px;
                    color: $secondary_text_color;
                    padding-right: 5px;
                }                
            }

            input {
                border: 0;
                background-color: #f0f2f5;
                height: $input_append_height;
                width: 450px;                
            }

            .search-symbol {
                @include input_append;
                width: 35px;               
            }
        }

        .affiliates {
            @include flex;
            div {
                font-size: $small_text;
                padding-left: 10px;
            }
        }

        .sign-up {
            @include flex;
            align-items: center;

            .user {
                font-size: $small_text;
            }

            button {
                margin: 0 10px;
            }
        }
    }    
}

.header-bottom-nav {
    background-color: $secondary_color;
    color: white;      
}