@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    
}

@mixin flex_jsb {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;     
    justify-content: space-between;
}


@mixin flex_jsb_center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}

@mixin flex_jc {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;     
    justify-content: center;
}

@mixin flex_align_center {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    align-items: center;    
}



@mixin input_append {
    background-color: #457992;
    color: white;
    height: $input_append_height;    
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 30px;
}

@mixin translateY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin primary_section_title {
    font-size: 35px;
    color: $secondary_color;
}

@mixin placeholder {
    font-size: $small_text;
    padding-left: 10px;
}