$primary_font_family: 'Open Sans', sans-serif;
$secondary_font_family: 'Montserrat', sans-serif;

$brand_primary_color: #ff4550;
$brand_secondary_color: #f0f4fa;

$brand_text_color: #273044;
$secondary_text_color: #c6b9af;
$main_text_color: #36414e;
$text_colored_bg: white;

$header_top_text_color: #aaaaaa;
$i_menu_text: #457992;

$border_color: #e5e5e5;

$main_text: 12px;
$small_text: 10px;

$section_margin_bottom: 40px;

$standard_padding: 20px 0;
$standard_padding_left: 20px;
$padding_bottom_sub_section: 10px;

$input_append_height: 30px;