$primary_font_family: 'Noto Sans JP', sans-serif;
$secondary_font_family: 'Montserrat', sans-serif;

$primary_color: #ff4550;
$secondary_text_color: #c6b9af;
$small_text: 10px;

$standard_padding_left: 20px;